## Pharmaceuticals Analysis using Matplotlib

In [2]:
# Libraries: import python dependencies/libraries to facilitate analysis.
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

# File Paths: Create variables that will identify where the file locations are, where the data is stored.
# These are the variables that hold the csv path location
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read: Create variables that will read in the data based on the file locations.
# These are the two variables that will read in the csv file data based on the path location variables already created.
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [3]:
# Test1: Call the data using the "read" variables that were defined in the setup section.
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [4]:
#Test2: The variables cannot be called in the same code block because it will call only the last line. Read the data using 
# the second defined variable.
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [5]:
# Merge the two datasets on the "Mouse ID" column. 
# Define variable and use pandas merge function (pd.merge) on "Mouse ID" so that no data is lost
merged_mouse_study = pd.merge(mouse_metadata, study_results, how='outer', on='Mouse ID')

merged_mouse_study.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [6]:
# Unique Count
# Display a list of each column with the .nunique function

merged_mouse_study.nunique()

Mouse ID               249
Drug Regimen            10
Sex                      2
Age_months              24
Weight (g)              16
Timepoint               10
Tumor Volume (mm3)    1644
Metastatic Sites         5
dtype: int64